.hero {
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .container {
    width: 1200px;
    border-radius: 5px;
    display: flex;

    .left {
      width: 50%;
      position: relative;

      img {
        position: relative;
        z-index: 2;
        height: auto;
        display: block;
        border-radius: 0px 50px 50px 0px;
      }
    }
    .right {
      width: 50%;
      color: var(--light-color);
      padding: 30px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      border-radius: 10px 10px 0px 0px;

      p {
        font-size: 30px;
        color: var(--gray-color);
      }

      h1 {
        color: var(--cta-color);
        font-size: 45px;
      }

      span {
        color: var(--gray-color) I !important;
        line-height: 35px;

        .brand {
          font-weight: 900;
        }
      }
    }
  }
}

@media (max-width: 481px) {
  /* Styles for phones */
  .hero {
    padding-top: 120px;

    .container {
      width: 480px;
      flex-direction: column;

      .left {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          background-color: var(--cta-color);
          position: relative;
          z-index: 2;
          width: 300px;
          border: 2px solid var(--cta-color);
          border-radius: 0px 50px 300px 0px;
        }
      }
      .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        border-radius: 30px 30px 0px 0px;
        text-align: center;

        p {
          font-size: 20px;
        }

        h1 {
          font-size: 30px;
        }

        span {
          color: var(--light-color) I !important;
          font-size: 18px;
          line-height: 35px;

          .brand {
            font-weight: 900;
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for tablets in portrait mode */
}

/* Medium devices (landscape tablets, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets in landscape mode or small desktops */
}

/* Large devices (desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for regular desktops */
}

/* Extra large devices (large desktops, 1200px and above) */
@media (min-width: 1200px) {
  /* Styles for larger desktops */
}

// .hero {
//   display: flex;
//   justify-content: center;
//   padding-top: 200px;

//   .container {
//     width: 1200px;
//     border-radius: 5px;
//     display: flex;

//     .left {
//       width: 50%;
//       position: relative;

//       .image-layer {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 300px;
//         background-color: var(--primary-color);
//         border-radius: 50% 50% 0px 0px;
//         z-index: 1;
//       }
//       img {
//         position: relative;
//         z-index: 2;
//         height: auto;
//         display: block;
//       }
//     }
//     .right {
//       width: 50%;
//       background-color: var(--primary-color);
//       color: var(--light-color);
//       padding: 30px 50px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       gap: 10px;
//       border-radius: 10px 10px 10px 0px;

//       p {
//         font-size: 30px;
//         color: var(--light-text);
//       }

//       h1 {
//         color: var(--light-color);
//         font-size: 45px;
//       }

//       span {
//         color: var(--light-color) I !important;
//         line-height: 35px;

//         .brand {
//           font-weight: 900;
//         }
//       }
//     }
//   }
// }
