.skills-section {
  padding: 7rem;
  background-color: var(--light-color);

  .sectionHeader {
    color: var(--dark-color);
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .skill-card {
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    color: var(--light-color);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .skill-category {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: var(--cta-color);
    }

    .skill-details {
      list-style: none;
      padding: 0;

      li {
        font-size: 0.95rem;
        color: var(--gray-color);
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* Extra small devices (phones, 0px - 575px) */
@media (max-width: 481px) {
  /* Styles for phones */
  .skills-section {
    padding: 3rem;
  }
}

/* Small devices (tablets, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for tablets in portrait mode */
}
