.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 29px;

  .container {
    .content {
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200px;
        font-weight: bold;
        border: 1px solid lightcyan;
        border-radius: 50%;
        background-color: var(--sec-color);
      }
    }
  }
}
