.about {
  min-height: 60vh;
  padding: 100px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      display: flex;
      align-items: center;
      gap: 20px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .right {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .about-images {
          width: 300px;
          height: 180px;
          // border: 1px solid var(--primary-color);
          border-radius: 20px;
          background-color: lightcyan;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);

          img {
            width: 300px;
            height: 180px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
