.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 20px;

  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      text-align: center;

      .logoItem {
        text-decoration: none;
        color: inherit;

        .logoText {
          font-size: 25px;
          border-radius: 5px;
          padding: 0;
          margin: 0;
          text-decoration: underline;
          text-underline-offset: 8px;

          span {
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            color: var(--secondary-color);
            margin-left: 3px;
          }
        }
      }

      img {
        width: 300px;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 16px;
      font-weight: 500;

      .link {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--important-text);
        transition: all 300ms ease-in;

        &::after {
          content: "}";
          top: 0;
          right: 10px;
          font-weight: bold;
        }

        &::before {
          content: "{";
          top: 0;
          right: 10px;
          font-weight: bold;
        }

        &:hover {
          color: var(--secondary-color);

          .icon {
            color: var(--secondary-color);
          }
        }

        img {
          width: 18px;
          height: 18px;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: var(--cta);
        transition: all 300ms ease;

        &:hover {
          background-color: white;
          color: var(--cta);
          border-color: var(--cta);
        }
      }
    }
  }
}
