.footer {
  .contact-section {
    background-color: var(--primary-color);
    padding: 8rem 12rem;
    color: var(--light-color);
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .contact-info {
      flex: 1;
      min-width: 300px;

      .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .contact-icon {
          background-color: var(--light-color);
          font-size: 1.5rem;
          margin-right: 0.5rem;
          border: 1px solid var(--light-color);
          padding: 5px;
          border-radius: 50%;
        }

        p {
          font-size: 1rem;
          color: var(--light-color);

          span {
            color: var(--light-color);
            font-weight: bold;
          }

          a {
            color: var(--light-color);
            text-decoration: none;
          }
        }
      }
    }
    .contact-form {
      flex: 1;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;

      input,
      textarea,
      button {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid var(--light-color);
        outline: none;
        border-radius: 5px;
      }

      button {
        background-color: var(--secondary-color);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--light-color);
          color: var(--primary-color);
        }
      }
    }
  }
  p {
    font-size: 16px !important;
    padding: 20px;
    text-align: center;
  }
}
