.footer {
  background-color: var(--primary-color);
  color: var(--light-cyan-color);
  padding: 50px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 16px !important;
  }
}
