.testimonial-section {
  padding: 8rem 12rem;
  background-color: var(--light-color);

  .sectionHeader {
    color: var(--dark-color);
  }

  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;

    .testimonial-card {
      background: var(--dark-color);
      color: var(--light-color);
      border: 1px solid var(--gray-colot);
      border-radius: 8px;
      padding: 1.5rem;
      text-align: center;
      position: relative;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .quote-icon {
        font-size: 1rem;
        color: var(--cta-color) !important;
      }

      .testimonial-feedback {
        font-style: italic;
        margin: 1rem 0;
        color: var(--gray-color);
      }

      .testimonial-info {
        margin-top: 1rem;
      }

      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
      }

      .testimonial-name {
        font-size: 1rem;
        font-weight: bold;
      }

      .testimonial-position {
        font-size: 0.9rem;
        color: var(--cta-color);
      }
    }
  }
}

/* Extra small devices (phones, 0px - 575px) */
@media (max-width: 481px) {
  /* Styles for phones */
  .testimonial-section {
    padding: 3rem 2rem;
  }
}

/* Small devices (tablets, 576px - 767px) */
@media (min-width: 482px) and (max-width: 862px) {
  /* Styles for tablets in portrait mode */
  .testimonial-section {
    padding: 4rem 3rem;
  }
}

/* Medium devices (landscape tablets, 768px - 991px) */
@media (min-width: 863px) and (max-width: 1200px) {
  /* Styles for tablets in landscape mode or small desktops */
  .testimonial-section {
    padding: 6rem 4rem;
  }
}
