@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Vinyl&display=swap");

:root {
  --primary-color: #8067d4;
  --secondary-color: #f48238;
  --important-text: #0f131a;
  --normal-text: #4b5563;
  --light-color: lightcyan;
  --gray-color: #e9e5e5;
  --white: whitesmoke;
  --cta-color: #f78119;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--normal-text);
  font-family: "Lato", serif;

  .link {
    text-decoration: none;
    color: inherit;
  }
}

h1,
h2,
h3 {
  font-family: "Rubik Vinyl", serif;
}

section {
  border-top: 1px dashed lightcyan;
  padding: 30px 200px;
}

.sectionHeader {
  color: var(--secondary-color);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
