@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+SA:wght@100..400&display=swap");

:root {
  --dark-color: #181c14;
  --secdark-color: #27272a;
  --light-color: #ecdfcc;
  --cta-color: #f5c542;
  --gray-color: #535351;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", serif;

  body {
    background-color: var(--dark-color);
  }

  .link {
    text-decoration: none;
    color: inherit;
  }
}

h1,
h2,
h3 {
  font-family: "Playwrite AU SA", serif;
}

section {
  border-top: 1px dashed lightcyan;
}

.sectionHeader {
  color: var(--cta-color);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
